In [1]:
import numpy as np
import pandas as pd

# Question 1

In [2]:
U = pd.DataFrame(data={'M':[1,2,5],'N':[2,3,5],'P':[3,2,5],'Q':[4,5,3],'R':[5,3,2]},index=['A','B','C'])

In [3]:
U = (U.T - U.mean(axis=1)).T

In [4]:
U = U - U.mean(axis=0)

In [5]:
U

          M    N    P         Q    R
A -1.333333 -1.0  0.0  0.333333  2.0
B -0.333333  0.0 -1.0  1.333333  0.0
C  1.666667  1.0  1.0 -1.666667 -2.0

# Question 2

In [6]:
factor = [0,0.5,1,2]
item_a = [1,0,1,0,1,2]
item_b = [1,1,0,0,1,6]
item_c = [0,1,0,1,0,2]

In [7]:
def cosin_sim(a,b,alpha):
    a[5]=a[5]*alpha
    b[5]=b[5]*alpha
    return np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b))

In [8]:
for a in factor:
    print a,"ab "+str(cosin_sim(item_a,item_b,a)),"ac "+str(cosin_sim(item_a,item_c,a)),"bc "+str(cosin_sim(item_b,item_c,a))

0 ab 0.666666666667 ac 0.0 bc 0.408248290464
0.5 ab 0.666666666667 ac 0.0 bc 0.408248290464
1 ab 0.666666666667 ac 0.0 bc 0.408248290464
2 ab 0.666666666667 ac 0.0 bc 0.408248290464

# Question 3

In [9]:
M = pd.DataFrame(data = {'A':[4,5,0,5,1,0,3,2],'B':[0,3,4,3,1,2,1,0],'C':[2,0,1,3,0,4,5,3]},index=['a','b','c','d','e','f','g','h'])

In [10]:
M = M.T

In [11]:
M.apply(lambda x: [1 if ele>=3 else 0 for ele in x])

   a  b  c  d  e  f  g  h
A  1  1  0  1  0  0  1  0
B  0  1  1  1  0  0  0  0
C  0  0  0  1  0  1  1  1

# Question 4