In [1]:
import pandas as pd

# Question 2

Simple 2.00 x
Dump 1.50 X
Most-Help 1.50 x
Most-help 1.33 x
Large-First 1.50

# Question 3

a0-b0
a2-b4
a4-b3
a1-b2
a3-b1

a0-b1
a3-b2
a1-b3
a4-b4
a2-b0

# Question 4

In [2]:
data = pd.DataFrame(data = {'Bid':[0.1,0.09,0.08,0.07,0.06],
                            'CTR1':[0.015,0.016,0.017,0.018,0.019],
                            'CTR2':[0.01,0.012,0.014,0.015,0.016],
                           'CTR3':[0.005,0.006,0.007,0.008,0.010],
                            'Budget':[1.0,2.0,3.0,4.0,5.0]},
                    index = ['A','B','C','D','E'],
                    columns=['Bid','CTR1','CTR2','CTR3','Budget'])

In [3]:
data['exp1'] = data['Bid']*data['CTR1']
data['exp2'] = data['Bid']*data['CTR2']
data['exp3'] = data['Bid']*data['CTR3']

In [4]:
data

    Bid   CTR1   CTR2   CTR3  Budget     exp1     exp2     exp3
A  0.10  0.015  0.010  0.005     1.0  0.00150  0.00100  0.00050
B  0.09  0.016  0.012  0.006     2.0  0.00144  0.00108  0.00054
C  0.08  0.017  0.014  0.007     3.0  0.00136  0.00112  0.00056
D  0.07  0.018  0.015  0.008     4.0  0.00126  0.00105  0.00056
E  0.06  0.019  0.016  0.010     5.0  0.00114  0.00096  0.00060

In [5]:
ctr = {'A':0,'B':0,'C':0,'D':0,'E':0}
for i in range(0,101):
    data.sort_values(['exp1'],ascending=False,inplace=True)
    advertiser = 'A'
    for pos in range(0,5):
        if data['Budget'][pos]-data['Bid'][pos]>0:
            advertiser = data.index[pos]
            ctr[data.index[pos]] += 1
            data['Budget'][pos] -= data['Bid'][pos]
            break
           
    data.sort_values(['exp2'],ascending=False,inplace=True)        
    for pos in range(0,5):
        if data['Budget'][pos]-data['Bid'][pos]>0 and data.index[pos]!=advertiser:
            advertiser = data.index[pos]
            ctr[data.index[pos]] += 1
            data['Budget'][pos] -= data['Bid'][pos]
            break
            
    data.sort_values(['exp3'],ascending=False,inplace=True)
    for pos in range(0,5):
        if data['Budget'][pos]-data['Bid'][pos]>0 and data.index[pos]!= advertiser:
            ctr[data.index[pos]] += 1
            data['Budget'][pos] -= data['Bid'][pos]
            break

In [6]:
ctr

{'A': 10, 'B': 22, 'C': 37, 'D': 57, 'E': 83}

E 83 X
B 30 x
C 14 x
E 35 x
E 26